# 2b. Data Wrangling 101

On to the spaghetti and meatballs of what we're trying to do.

## Modules & Libraries

One of the things that make Python and R very powerful languages are the abundance of existing resources you can draw upon. 

`````{admonition} Modules vs Libraries
:class: info
* **Modules** are python files that act as pre-existing code that you can call upon. (You can make your own and use them later if you're going to be using the same functions over many different files.)

* **Libraries** are collections of modules made by professional nerds that let you do really cool things with pretty little effort. 
``````

## Introduction to Pandas 

**Pandas** is probably the library you'll most use. It introduces two new data types: **DataFrames** are tables with rows and columns, where each **column** is a **Series**. It's like Excel Spreadsheet but in Python.

Here's the basic steps of starting with pandas:

1. First, install it. In your terminal, copy and paste (or type) the following: ``pip install pandas``

> Your terminal is at the bottom of your screen. If it's not there, press the button on the top right of the screen that looks like an eraser with the highlighted bit pointing downwards. 

2. Import pandas using the ``import`` keyword - this is how you import all libraries or modules.

> You will often see pandas imported like this ``import pandas as pd``. The "as" means that instead of typing out pandas everytime you want to use it, you can just use the letters "pd".

3. Create a DataFrame from existing data. We will use scary psychology data in a second, but for now here's a fun dataframe ChatGPT made for us:

In [9]:
import pandas as pd

data = {
    "Title": [
        "The Hunger Games", "Catching Fire", "Mockingjay",
        "Divergent", "Insurgent", "Allegiant",
        "The Maze Runner", "The Scorch Trials", "The Death Cure"
    ],
    "Release Year": [
        2008, 2009, 2010, 
        2011, 2012, 2013, 
        2009, 2010, 2011
    ],
    "Author": [
        "Suzanne Collins", "Suzanne Collins", "Suzanne Collins",
        "Veronica Roth", "Veronica Roth", "Veronica Roth",
        "James Dashner", "James Dashner", "James Dashner"
    ],
    "Sales": [
        65000000, 19000000, 18000000,  # Hunger Games series
        7000000, 6000000, 5000000,  # Divergent series
        10000000, 3000000, 2000000  # Maze Runner series
    ],
    "Adapted into Movie": [
        True, True, True,  # Hunger Games
        True, True, True,  # Divergent
        True, True, True  # Maze Runner
    ]
}

df = pd.DataFrame(data)

`````{hint} 
If you want to play around with this data to try some coding and follow along, click copy on the top right of the code panel and paste it into a python file in 
`````

`````{admonition} DataFrame Naming Convention
:class: info
As usual, you can call your DataFrame variable whatever you want. Though conventionally, people will be lazy and use "df" (for DataFrame), if they're only using one main dataframe, such as in RMHI or ADDA.
`````

As you may be able to tell, this is a table (a DataFrame, if you will) with nine teen dystopia novels from the 2010s. Feel free to copy and paste that chunk of code above into a python file to following along with the examples.

___

In a usual tutorial you spend the next 30 minutes going through each of the ways you can manipulate this DataFrame. The [next page](./dfcommands.ipynb) has a big table of methods ("commands") that you can apply to DataFrames. Alternatively, click the text below to open up the table on this page.

```{dropdown} Table: Manipulating Dataframes
:class: seealso

| **Action**                         | **Syntax**                                                                                                         | **Example**                                                                                                                                                                                                                   |
|------------------------------------|--------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Selecting Columns**              | Select a column by name: `df['ColumnName']`<br> Select multiple columns: `df[['Column1', 'Column2']]`                | `df['Title']`<br> `df[['Title', 'Sales']]`                                                                                                                                                                                      |
| **Selecting Rows by Index**        | Use `iloc[]` for positional indexing: `df.iloc[0]`<br> Slice rows: `df.iloc[1:3]`                                    | `df.iloc[0]`<br> `df.iloc[1:3]`                                                                                                                                                                                                |
| **Filtering Rows by Condition**    | Apply condition inside `df[]`: `df[df['Column'] > value]`                                                           | `df[df['Sales'] > 10000000]`                                                                                                                                                                                                   |
| **Multiple Conditions**            | Use logical operators ``&`` for AND, straight line for OR: ``df[(condition1) & (condition2)]`` | `df[(df['Sales'] > 10000000) & (df['Author'] == 'Suzanne Collins')]`                                                                                                                                                        |
| **Adding a New Column**            | Assign a value to a new column: `df['NewColumn'] = value`                                                            | `df['Discounted Sales'] = df['Sales'] * 0.9`                                                                                                                                                                                 |
| **Modifying an Existing Column**   | Modify an existing column: `df['ColumnName'] = new_value`                                                            | `df['Sales'] = df['Sales'] * 1.1`                                                                                                                                                                                             |
| **Adding a New Row**               | Concatenate a new DataFrame with existing one: `pd.concat([df, new_row])`                                            | `new_row = pd.DataFrame([{'Title': 'New Book', 'Release Year': 2023, 'Sales': 5000000, 'Adapted into Movie': False}])`<br> `df = pd.concat([df, new_row], ignore_index=True)`                                                      |
| **Inserting a Column at a Position** | Use `insert()` to add a column at a specific position: `df.insert(index, 'ColumnName', value)`                       | `df.insert(2, 'Release Decade', ['2000s', '2000s', '2010s', '2010s', '2010s'])`                                                                                                                                               |
| **Dropping a Column**              | Drop a column using `drop()`: `df.drop('ColumnName', axis=1)`                                                        | `df = df.drop('Discounted Sales', axis=1)`                                                                                                                                                                                    |
| **Dropping Rows by Index**         | Drop rows by index using `drop()`: `df.drop(index=[0, 1])`                                                           | `df = df.drop(index=[0, 1])`                                                                                                                                                                                                  |
| **Dropping Rows by Condition**     | Drop rows based on a condition: `df[df['Column'] > value]`                                                           | `df = df[df['Sales'] > 10000000]`                                                                                                                                                                                             |
| **Sorting Data**                   | Sort values using `sort_values()`: `df.sort_values('ColumnName', ascending=True)`                                    | `df_sorted = df.sort_values('Sales', ascending=False)`                                                                                                                                                                       |
| **Sorting by Multiple Columns**    | Sort by multiple columns: `df.sort_values(['Column1', 'Column2'], ascending=[True, False])`                           | `df_sorted = df.sort_values(['Author', 'Sales'], ascending=[True, False])`                                                                                                                                                   |
| **Grouping and Aggregating**       | Group by one or more columns: `df.groupby('Column')['Aggregation']`                                                  | `df.groupby('Author')['Sales'].sum()`                                                                                                                                                                                        |
| **Multiple Aggregations**          | Apply multiple aggregation functions: `df.groupby('Column').agg({'Column1': 'sum', 'Column2': 'count'})`             | `df.groupby('Author').agg({'Sales': 'sum', 'Title': 'count'})`                                                                                                                                                             |
| **Identifying Missing Data**       | Check for missing values with `isnull()`: `df.isnull()`                                                              | `df.isnull()`                                                                                                                                                                                                                 |
| **Count Missing Data**             | Count missing values with `sum()`: `df.isnull().sum()`                                                               | `df.isnull().sum()`                                                                                                                                                                                                          |
| **Drop Rows with Missing Data**    | Drop rows containing NaN with `dropna()`: `df.dropna()`                                                              | `df = df.dropna()`                                                                                                                                                                                                           |
| **Fill Missing Data**              | Fill missing values with `fillna()`: `df['Column'].fillna(value)`                                                     | `df['Sales'] = df['Sales'].fillna(df['Sales'].mean())`                                                                                                                                                                        |
| **Merging DataFrames**             | Merge two DataFrames using `merge()`: `pd.merge(df1, df2, on='Column')`                                               | `merged_df = pd.merge(df1, df2, on='ID')`                                                                                                                                                                                    |
| **Renaming Columns**               | Rename columns with `rename()`: `df.rename(columns={'OldName': 'NewName'})`                                           | `df = df.rename(columns={'Sales': 'Total Sales', 'Release Year': 'Year Released'})`                                                                                                                                         |
| **Converting to Datetime**         | Convert a column to datetime: `pd.to_datetime(df['Column'])`                                                          | `df['Release Year'] = pd.to_datetime(df['Release Year'], format='%Y')`                                                                                                                                                       |
| **Extracting Date Components**     | Extract year, month, day: `df['Date'].dt.year`<br> `df['Date'].dt.month`                                               | `df['Year'] = df['Release Year'].dt.year`<br> `df['Month'] = df['Release Year'].dt.month`                                                                                                                                    |
| **Applying Functions**             | Apply a custom function to a column with `apply()`: `df['Column'].apply(lambda x: function(x))`                      | `df['Sales'] = df['Sales'].apply(lambda x: x * 1.05)`                                                                                                                                                                      |

```

<break> </break>

You can come back to this later when you need it. For now, lets highlight the stuff you'll most likely use

### A. Selecting Rows and Columns

For columns, you call the DataFrame's name and type in the name of the column you want to select **within quotation marks** and **within square brackets** adjacent to the DataFrames name. To select multiple columns, you need to use _two_ sets of square brackets, since this show pandas that you are inputing a _list_ of column names

For rows, you call the DataFrame's name and type in .iloc (***i***nteger ***loc***ation) and **then within square brackets**, the **index** (remembering that the "1st" row is actually the "0th" row). To select multiple rows, you can use a colon ``:`` in between two numbers to specify a range of rows to select. 

**However, in most of Python the end index is _exclusive_, meaning that ``[0:4]`` will _not include_ the 4th row.** This is different to R, in which the end index is _inclusive_ (meaning that in R, the 4th row would be included).

In [10]:
# Selecting a column
book_titles = df['Title'] 

# Selecting multiple columns
book_titles_authors = df[['Title', 'Author']]

# Selecting rows
hunger_games_trilogy = df.iloc[0:3]

print(hunger_games_trilogy)

              Title  Release Year           Author     Sales  \
0  The Hunger Games          2008  Suzanne Collins  65000000
1     Catching Fire          2009  Suzanne Collins  19000000
2        Mockingjay          2010  Suzanne Collins  18000000

   Adapted into Movie
0                True
1                True
2                True

`````{admonition} Brackets and Periods Convention
:class: tip
You may have noticed that we seem to randomely use square brackets ``[]``, round brackets ``()`` and periods ``.`` to do things, but now is a good time to establish how they are generally used in Python. 
 * **Square Brackets ``[]``** are used to select elements of variables with multiple items, like lists, tuples, strings (letters) and DataFrames. This is usually done by indexing ``[0:2]`` or through conditional statements ``[x > 10]``.
 * **Round Brackets ``()``** are used to call functions or methods - essentially, they activate commands to do things.
 * **Periods ``.``** are used to access properties or execute actions within variables, such as the "iloc" command for DataFrames.
`````

### B. Filtering & Dropping

You can filter rows using conditions using the following syntax in this example below:

In [11]:
twenty_tens = df[df["Release Year"] >= 2010]
print(twenty_tens)

               Title  Release Year           Author     Sales  \
2         Mockingjay          2010  Suzanne Collins  18000000
3          Divergent          2011    Veronica Roth   7000000
4          Insurgent          2012    Veronica Roth   6000000
5          Allegiant          2013    Veronica Roth   5000000
7  The Scorch Trials          2010    James Dashner   3000000
8     The Death Cure          2011    James Dashner   2000000

   Adapted into Movie
2                True
3                True
4                True
5                True
7                True
8                True

You can also drop (i.e. delete) rows and columns by 'redefining' or 'overwriting' a DataFrame (basically making the variable again with a new condition), or using Pandas' ``drop`` method.

In [12]:
# Notice that just using the same variable name will update the DataFrame with the condition given
# In this case, it will make a DataFrame again with only books above 5 million in sales
twenty_tens = twenty_tens[twenty_tens["Sales"] >= 5000000]

# using the drop method will essentially delete the column specified
twenty_tens = twenty_tens.drop(columns="Adapted into Movie", axis=1)

# you can delete multiple columns by specifying a Series/List using square brackets
twenty_tens = twenty_tens.drop(columns = ['Release Year', 'Sales'])
print(twenty_tens)

        Title           Author
2  Mockingjay  Suzanne Collins
3   Divergent    Veronica Roth
4   Insurgent    Veronica Roth
5   Allegiant    Veronica Roth

#### isin()

A really handy command to know is pandas' ``isin()`` method. This can be used to select/filter rows by checking it is within a **list** of values, which is useful when you need to sort data by multiple specific conditions.

In [13]:
global_financial_crisis_years = [2007, 2008, 2009]

df_2 = df[df['Release Year'].isin(global_financial_crisis_years)]
print(df_2)

              Title  Release Year           Author     Sales  \
0  The Hunger Games          2008  Suzanne Collins  65000000
1     Catching Fire          2009  Suzanne Collins  19000000
6   The Maze Runner          2009    James Dashner  10000000

   Adapted into Movie
0                True
1                True
6                True

### C. Creating New Rows/Columns

You may need to make new rows and columns as part of what you're doing - maybe to combine columns from other tables or add new entries.

#### New Columns

To add new columns, you pretty much tell the computer _"this is now a column in this dataframe, which takes the following values"_. The syntax for this is seen below - values are given in the order that the items on the table are in.

``` {caution}
The new column you have introduced **must** have the same amount of rows as the existing table. For instance, since there are 9 books here, my new column must have 9 values.
```

``` {note}
In practice, you may be extracting a column from another table. For this, you would be directly setting a column in your table as a column from another table. For example, ``df["Amazon Rating"] = df2["Ratings"]``.
```

In [14]:
amazon_ratings = [4.7, 4.8, 4.5, 4.6, 4.5, 4.4, 4.4, 4.3, 4.2]

df["Amazon Rating"] = amazon_ratings

print(df)

               Title  Release Year           Author     Sales  \
0   The Hunger Games          2008  Suzanne Collins  65000000
1      Catching Fire          2009  Suzanne Collins  19000000
2         Mockingjay          2010  Suzanne Collins  18000000
3          Divergent          2011    Veronica Roth   7000000
4          Insurgent          2012    Veronica Roth   6000000
5          Allegiant          2013    Veronica Roth   5000000
6    The Maze Runner          2009    James Dashner  10000000
7  The Scorch Trials          2010    James Dashner   3000000
8     The Death Cure          2011    James Dashner   2000000

   Adapted into Movie  Amazon Rating
0                True            4.7
1                True            4.8
2                True            4.5
3                True            4.6
4                True            4.5
5                True            4.4
6                True            4.4
7                True            4.3
8                True            4.2

#### New Rows

There are two ways of adding a new rows to a table. 

* Method 1 involves is similar to how we added columns in the example above - you are basically telling the computer that _"this is a row now. here's what the values are"_, where the values are given in same order that the columns show up in the table. This is good for quickly adding new row.

``` {note}
The bit of code, ``[len(df)]`` is a command that will spit out the **len**gth of the dataframe (actually, the series, so pretty much how many rows) as a numerical value. Because Python is end-index exclusive, the number that pops out is actually +1 above the amount of rows, so by making a new row at this number, you are adding a new row.
```

* Method 2 is **recommended** because it is more scalable. Here, the new row is its own dictionary variable with the appropriate keys (columns) and values. Then, using the ``pd.concat`` command (method), the computer slaps the new row into the table with the syntax seen below.

In [ ]:
# Method 1
df.loc[len(df)] = ["Sunrise on the Reaping", 2025, "Suzanne Collins", None, False, None]

# Method 2
new_book = pd.DataFrame({
    "Title": ["The Ballad of Songbirds and Snakes"],
    "Release Year": [2020],
    "Author": ["Suzanne Collins"],
    "Sales": [3000000],
    "Adapted into Movie": [True],
    "Amazon Rating": [4.6]
})

df = pd.concat([df, new_book], ignore_index=True)

print(df)

                                 Title  Release Year           Author  \
0                     The Hunger Games          2008  Suzanne Collins
1                        Catching Fire          2009  Suzanne Collins
2                           Mockingjay          2010  Suzanne Collins
3                            Divergent          2011    Veronica Roth
4                            Insurgent          2012    Veronica Roth
5                            Allegiant          2013    Veronica Roth
6                      The Maze Runner          2009    James Dashner
7                    The Scorch Trials          2010    James Dashner
8                       The Death Cure          2011    James Dashner
9               Sunrise on the Reaping          2025  Suzanne Collins
10  The Ballad of Songbirds and Snakes          2020  Suzanne Collins

       Sales  Adapted into Movie  Amazon Rating
0   65000000                True            4.7
1   19000000                True            4.8
2   18000000                True            4.5
3    7000000                True            4.6
4    6000000                True            4.5
5    5000000                True            4.4
6   10000000                True            4.4
7    3000000                True            4.3
8    2000000                True            4.2
9       None               False            NaN
10   3000000                True            4.6

/var/folders/y3/76c9zs013lvd86l2m8d2qq380000gn/T/ipykernel_37614/3314418627.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[len(df)] = ["Sunrise on the Reaping", 2025, "Suzanne Collins", None, False, None]

### D. Missing Data

Dealing with missing data is relatively simply in pandas; there are a few things you can do listed below (adapted from the full table on the next page):


| **Action**                         | **Syntax**                                                                                                         | **Example**                                                                                                                                                                                                                   |
|------------------------------------|--------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Identifying Missing Data**       | Check for missing values with `isnull()`: `df.isnull()`                                                              | `df.isnull()`                                                                                                                                                                                                                 |
| **Count Missing Data**             | Count missing values with `sum()`: `df.isnull().sum()`                                                               | `df.isnull().sum()`                                                                                                                                                                                                          |
| **Drop Rows with Missing Data**    | Drop rows containing NaN with `dropna()`: `df.dropna()`                                                              | `df = df.dropna()`                                                                                                                                                                                                           |
| **Fill Missing Data**              | Fill missing values with `fillna()`: `df['Column'].fillna(value)`                                                     | `df['Sales'] = df['Sales'].fillna(df['Sales'].mean())`                                                                                                                                                                        |


For example:

In [16]:
df.isnull()

df = df.dropna()

print(df)

                                 Title  Release Year           Author  \
0                     The Hunger Games          2008  Suzanne Collins
1                        Catching Fire          2009  Suzanne Collins
2                           Mockingjay          2010  Suzanne Collins
3                            Divergent          2011    Veronica Roth
4                            Insurgent          2012    Veronica Roth
5                            Allegiant          2013    Veronica Roth
6                      The Maze Runner          2009    James Dashner
7                    The Scorch Trials          2010    James Dashner
8                       The Death Cure          2011    James Dashner
10  The Ballad of Songbirds and Snakes          2020  Suzanne Collins

       Sales  Adapted into Movie  Amazon Rating
0   65000000                True            4.7
1   19000000                True            4.8
2   18000000                True            4.5
3    7000000                True            4.6
4    6000000                True            4.5
5    5000000                True            4.4
6   10000000                True            4.4
7    3000000                True            4.3
8    2000000                True            4.2
10   3000000                True            4.6